
section{
    background-color: rgb(104, 50, 50);
}
#imagen{
    width: 230px;
    height: 230px;
    
}
.iconos{
    width: 40px;
}
.espacio:hover {
    background: #fff; /* color de fuente hover */
  }